In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs_imdb

url_imdb ='https://assets-datascientest.s3.eu-west-1.amazonaws.com/IMDB_en.html'
page_imdb = urlopen(url_imdb)
soup_im =bs_imdb(page_imdb, 'html.parser')

# soup_im.findAll("div")
soup_im.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">',
 ' <head>',
 '  <script type="text/javascript">',
 '   var ue_t0=ue_t0||+new Date();',
 '  </script>',
 '  <script type="text/javascript">',
 '   window.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;',
 'if (window.ue_ihb === 1) {',
 '',
 'var ue_csm = window,',
 '    ue_hob = +new Date();',
 '(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.stub=function(b,a){if(!b[a]){var c=[];b[a]=function(){c.push([c.slice.call(arguments),e.d(),d.ue_id])};b[a].replay=function(b){for(var a;a=c.shift();)b(a[0],a[1],a[2])};b[a].isStub=1}};e.exec=function(b,a){return function(){try{return b.apply(this,arguments)}catch(c){ueLogError(c,{attribution:a||"undefined",logLevel:"WARN"})}}}})(ue_csm);',
 '',
 '',
 "    var ue_err_chan = 'jserr';",
 '(function(d,e){function h(f,b){if(!(a.ec>a.mxe)&&f){a.ter.push(f);b=b||{};var c=f.logLevel||b.logLevel;c&&c!==k&&c!==m&&c!==n&&c!==p||a.ec++;c&&c!=k||a.ecf++;b.pageURL=""+(e.location?e.location.href:"");b.logLevel=c;b.attribution=f.attribution||b.attribution;a.erl.push({ex:f,info:b})}}function l(a,b,c,e,g){d.ueLogError({m:a,f:b,l:c,c:""+e,err:g,fromOnError:1,args:arguments},g?{attribution:g.attribution,logLevel:g.logLevel}:void 0);return!1}var k="FATAL",m="ERROR",n="WARN",p="DOWNGRADED",a={ec:0,ecf:0,',
 'pec:0,ts:0,erl:[],ter:[],buffer:[],mxe:50,startTimer:function(){a.ts++;setInterval(function(){d.ue&&a.pec<a.ec&&d.uex("at");a.pec=a.ec},1E4)}};l.skipTrace=1;h.skipTrace=1;h.isStub=1;d.ueLogError=h;d.ue_err=a;e.onerror=l})(ue_csm,window);',
 '',
 '',
 "var ue_id = 'BQWZRBFAM81S7K6ZBPJP',",
 '    ue_url,',
 '    ue_navtiming = 1,',
 "    ue_mid = 'A1EVAM02EL8SFB',",
 "    ue_sid = '142-4733486-5366807',",
 "    ue_sn = 'www.imdb.com',",
 "    ue_furl = 'fls-na.amazon.com',",
 "    ue_surl = 'https://unagi-na.amazon.com/1/events/com.amazon.csm.nexusclient.prod',",
 '    ue_int = 0,',
 '    ue_fcsn = 1,']

In [2]:
films_imdb = soup_im.find('tbody', attrs = {'class': "lister-list"}).find_all('tr')
#films_imdb

In [53]:
films_imdb1 = soup_im.find('td', attrs = {'class': "ratingColumn imdbRating"}).strong
for film_imdb1 in films_imdb1:
     print(film_imdb1.text)

7,3

In [54]:
for film_imdb in films_imdb:
    rating=film_imdb.find('td', {'class':"ratingColumn imdbRating"}).strong
print(rating)

<strong title="6,5 based on 82 101 user ratings">6,5</strong>

In [60]:
import pandas as pd
title = []
release_years = []
rating = []

for film_imdb in films_imdb:
    title.append(film_imdb.find('td', {'class': 'titleColumn'}).a.text)
    release_years.append(film_imdb.find('span', {'class': 'secondaryInfo'}).text.strip('()'))
    rating.append(film_imdb.find('td', {'class': "ratingColumn imdbRating"}).strong)                    
                         
df_imdb = pd.DataFrame(list(zip(title, release_years,rating)), columns=["Title", "release_years","rating"])
    
#     writer.append(bestseller.find('div', {'class': 'a-row a-size-small'}).text)
    
#     price.append(bestseller.find('span', {'class': "p13n-sc-price"}).text)

#books = pd.DataFrame(list(zip(title, writer, price)), columns=["Title", "Writer", "Price"])

df_imdb

                                         Title release_years rating
0   Glass Onion: une histoire à couteaux tirés          2022  [7,3]
1                     Avatar: la voie de l'eau          2022  [7,9]
2                             À couteaux tirés          2019  [7,9]
3                                      Babylon          2022  [7,4]
4                                       Avatar          2009  [7,9]
..                                         ...           ...    ...
95                                 Les Goonies          1985  [7,7]
96                        Mourir peut attendre          2021  [7,3]
97                                Interstellar          2014  [8,6]
98                                        Dune          2021  [8,0]
99                              Last Christmas          2019  [6,5]

[100 rows x 3 columns]

In [47]:
df_imdb.head()

                                        Title release_years rating
0  Glass Onion: une histoire à couteaux tirés          2022  [7,3]
1                    Avatar: la voie de l'eau          2022  [7,9]
2                            À couteaux tirés          2019  [7,9]
3                                     Babylon          2022  [7,4]
4                                      Avatar          2009  [7,9]

In [1]:
import requests
from bs4 import BeautifulSoup

url_meta = 'https://www.metacritic.com/browse/movies/score/metascore/all/filtered?sort=desc'

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0'}

res = requests.get(url_meta, headers=headers).text

soup_meta = BeautifulSoup(res, 'html.parser')
soup_meta.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">',
 ' <head>',
 '  <title>',
 '   Best Movies of All Time - Metacritic',
 '  </title>',
 '  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>',
 '  <meta content="See how well critics are rating the Best Movies of All Time" name="description"/>',
 '  <meta content="Metacritic" name="application-name"/>',
 '  <meta content="#000000" name="msapplication-TileColor"/>',
 '  <meta content="/images/win8tile/76bf1426-2886-4b87-ae1c-06424b6bb8a2.png" name="msapplication-TileImage"/>',
 '  <meta content="618k3mbeki8tar7u6wvrum5lxs5cka" name="facebook-domain-verification">',
 '   <meta content="Best Movies of All Time" property="og:title"/>',
 '   <meta content="website" property="og:type"/>',
 '   <meta content="https://www.metacritic.com/browse/movies/score/metascore/all/filtered" property="og:url"/>',
 '   <meta content="https://static.metacritic.com/images/icons/mc_fb_og.png" property="og:image"/>',
 '   <meta content="Metacritic" property="og:site_name"/>',
 '   <meta content="123113677890173" property="fb:app_id"/>',
 '   <meta content="@metacritic" property="twitter:site"/>',
 '   <meta content="@metacritic" property="twitter:creator"/>',
 '   <meta content="https://static.metacritic.com/images/icons/mc_fb_og.png" name="twitter:card"/>',
 '   <meta content="See how well critics are rating the Best Movies of All Time" property="og:description"/>',
 '   <link href="https://www.metacritic.com/browse/movies/score/metascore/all/filtered" rel="canonical"/>',
 '   <link href="/browse/movies/score/metascore/all/filtered?sort=desc&amp;page=1" rel="next"/>',
 '   <link href="//cdn.cookielaw.org" pr="1" rel="dns-prefetch"/>',
 '   <link href="//geolocation.onetrust.com" pr="1" rel="dns-prefetch"/>',
 '   <link as="fetch" crossorigin="anonymous" data-no-header="" href="//cdn.cookielaw.org/consent/50e16f1d-a929-4cc0-80a7-3c5c303eea6a/50e16f1d-a929-4cc0-80a7-3c5c303eea6a.json" pr="1" rel="preload" type="application/x-javascript"/>',
 '   <link as="script" data-no-header="" href="https://geolocation.onetrust.com/cookieconsentpub/v1/geo/location" rel="preload" type="text/javascript"/>',
 '   <script type="application/javascript">',
 '    OptanonWrapperQueue = {']

In [2]:
films_meta = soup_meta.find('div', attrs = {'class': "title_bump"}).find_all('td')
film_meta = films_meta[0]

film_meta

<td class="clamp-image-wrap">
<a href="/movie/tokyo-story"><img alt="Tokyo Story" src="https://static.metacritic.com/images/products/movies/5/89265deca082302b1fe5b35db2be3986-98.jpg"/></a>
<span class="mcmust">
<img src="/images/icons/mc-mustsee-sm.svg"/>
</span>
</td>

In [7]:
movies_meta = soup_meta.find('div', attrs = {'class': "title_bump"}).find_all('h3')
for movie in movies_meta:
    print(movie.text)

Tokyo Story
The Godfather
Citizen Kane
Rear Window
Casablanca
Three Colors: Red
Boyhood
Vertigo
Notorious
Singin' in the Rain
Playtime
City Lights
Moonlight
Intolerance
The Rules of the Game
Pinocchio
Touch of Evil
The Zone of Interest
Seven Samurai
The Wild Bunch
Au hasard Balthazar
The Lady Vanishes
The Treasure of the Sierra Madre
Pan's Labyrinth
Some Like It Hot
North by Northwest
Hoop Dreams
Rashomon
The Passion of Joan of Arc
All About Eve
Jules and Jim
My Left Foot
Ran
The Third Man
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Quo Vadis, Aida?
Psycho
Gone with the Wind
4 Months, 3 Weeks and 2 Days
Battleship Potemkin
A Streetcar Named Desire
The Maltese Falcon
American Graffiti
12 Angry Men
Dumbo
Roma
Man with a Movie Camera
Parasite
Spirited Away
Toy Story
Summer of Soul (...Or, When the Revolution Could Not Be Televised)
The Shop Around the Corner
Rosemary's Baby
12 Years a Slave
Manchester by the Sea
Killer of Sheep
Nashville
Red River
Sansho the Bailiff
Ratatouille
The Grapes of Wrath
Snow White and the Seven Dwarfs
Children of Paradise (1945)
Mean Streets
The Lady Eve
Gravity
Fantasia
Beauty and the Beast
Small Axe: Lovers Rock
The Bride of Frankenstein
Don't Look Now
The Social Network
My Fair Lady
Portrait of a Lady on Fire
I Am Not Your Negro
Woodstock
Past Lives
Aftersun
Rocks
Amour
The Hurt Locker
Anatomy of a Murder
Zero Dark Thirty
Collective
A Separation
Double Indemnity
Sunrise
Schindler's List
Pulp Fiction
WALL-E
Carol
Before Midnight
Amazing Grace
Dunkirk
The Man Who Shot Liberty Valance
The Searchers
45 Years
Taxi Driver
The Servant
Yi Yi

In [8]:
ratings_meta = soup_meta.find_all('div', attrs = {'class': "metascore_w user large movie positive"})
for rating_meta in ratings_meta:
     print(rating_meta.text)

8.7
9.2
8.4
8.7
8.8
8.5
7.4
8.6
7.9
8.6
8.7
7.1
7.1
8.0
8.4
8.7
7.5
7.1
8.2
8.0
8.6
8.3
8.0
8.0
8.5
8.7
6.6
8.3
8.4
8.4
8.4
8.0
8.8
8.3
7.9
8.6
8.2
8.0
7.3
8.8
7.6
7.7
8.7
8.9
8.8
7.1
7.2
8.3
8.0
8.2
6.9
7.8
7.3
8.6
8.5
8.1
7.8
7.3
6.7
7.8
8.3
8.3
7.6
6.8
8.2
7.4
8.6
7.8
6.6
8.1
7.3
8.1
6.9
7.8
8.8
8.6
8.8
9.0
8.8
7.9
8.3
8.2
8.3
8.5
7.5
7.3
7.7
7.5
8.4

In [9]:
import pandas as pd
title = []
meta_rating = []
# rating = []

for movie_meta in movies_meta:
    title.append(movie_meta.text)
for rating_meta in ratings_meta:   
    meta_rating.append(rating_meta.text)
    
    #rating.append(film_imdb.find('td', {'class': "ratingColumn imdbRating"}).strong)                    
                         
df_meta = pd.DataFrame(list(zip(title,meta_rating)), columns=["Title","meta_rating"])
df_meta

               Title meta_rating
0        Tokyo Story         8.7
1      The Godfather         9.2
2       Citizen Kane         8.4
3        Rear Window         8.7
4         Casablanca         8.8
..               ...         ...
84      A Separation         7.5
85  Double Indemnity         7.3
86           Sunrise         7.7
87  Schindler's List         7.5
88      Pulp Fiction         8.4

[89 rows x 2 columns]

In [10]:
df_meta['Title']=df_meta['Title'].str.upper()
df_meta.head()

           Title meta_rating
0    TOKYO STORY         8.7
1  THE GODFATHER         9.2
2   CITIZEN KANE         8.4
3    REAR WINDOW         8.7
4     CASABLANCA         8.8

In [11]:
df_imdb['Title']=df_imdb['Title'].str.upper()
df_imdb.head()

                                        Title release_years rating
0  GLASS ONION: UNE HISTOIRE À COUTEAUX TIRÉS          2022  [7,3]
1                    AVATAR: LA VOIE DE L'EAU          2022  [7,9]
2                            À COUTEAUX TIRÉS          2019  [7,9]
3                                     BABYLON          2022  [7,4]
4                                      AVATAR          2009  [7,9]

In [16]:

df = df_imdb.merge(df_meta, how='inner', on='Title')

In [13]:
df.shape

(2, 4)

In [17]:
df

       Title release_years rating meta_rating
0  PINOCCHIO          2022  [7,7]         8.7
1   AFTERSUN          2022  [7,8]         9.0

In [18]:
filtered_df = df[df['meta_rating'].notnull()]
filtered_df

        Title release_years rating meta_rating
17  PINOCCHIO          2022  [7,7]          99
56   AFTERSUN          2022  [7,8]          96